.main-wrapper {
  border-radius: 25px;
  background-color: #89B0AE;
  height: 550px;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
body {
  background-color: #555B6E;
}
.background {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 5%;
}
.display {
  border-radius: 10px;
  height: 70px;
  width: 300px;
  background-color: #FAF9F9;
  border: 3px solid #555B6E;
  box-sizing: border-box;
  padding: 10px;
}
button {
  background-color: #BEE3DB;
  height: 70px;
  width: 70px;
  font-size: 36px;
  transition-duration: 0.8s;
  box-shadow: 0 5px #555B6E;
}
button:hover {
  background-color: #BEE3DB;
  color: white;
}
button:active {
  background-color: #555B6E;
  box-shadow: 0 2px #666;
  transform: translateY(3px)
}
.equal {
 width: 145px; 
}
.plus {
  height: 145px;
}

table {
  width: 300px;
}