.main-wrapper {
  border-radius: 25px;
  background-color: rgb(133, 83, 180);
  height: 550px;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(to left, #1c0e93, #7171de);
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #1c0e93, #7171de);
}
.background {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #1c0e93, #7171de);
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 5%;
}
.display {
  border-radius: 10px;
  height: 70 px;
  width: 300px;
  background-color: aliceblue;
}
button {
  background-color: #ff5722;
  height: 70px;
  width: 70px;
  font-size: 36px;
  background: linear-gradient(to right, #ff5722, #7171de);
}
.equal {
 width: 145px; 
}
.plus {
  height: 145px;

}
table {
  width: 300px;
}